html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  line-height: 1; }

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none;
  color: inherit; }

.header {
  width: 100%;
  max-width: 1930px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  z-index: 1000; }

.hidden {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

nav {
  position: fixed;
  width: 100%;
  max-width: 1930px;
  top: 0;
  text-align: center;
  background-color: white;
  opacity: 0.8;
  padding-top: 5px;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  nav ul {
    padding: 25px; }
  nav ul li {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    margin-right: 7%; }
  nav ul li:last-child {
    margin-right: 0; }
  nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  nav .item-li:hover {
    text-shadow: 0px 2px 10px black;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  nav ul li img {
    width: 100%;
    max-width: 150px;
    margin: -25px 0px; }

.main {
  width: 100%; }
  .main img {
    display: block;
    width: 100%;
    z-index: 0;
    position: relative;
    margin: 0 auto; }
  .main .wrapper-big {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1930px;
    width: 100%; }
  .main .wrapper-medium {
    position: relative;
    width: 100%;
    max-width: 1930px;
    overflow: hidden; }
  .main .b-absolute {
    color: white;
    text-shadow: 5px 0px 5px black;
    font-style: italic;
    letter-spacing: 5px;
    position: absolute;
    left: 18.6%;
    top: 27%;
    width: 100%;
    max-width: 635px;
    margin: 0 auto;
    z-index: 100; }
  .main .b-animate-1 {
    width: 100%;
    max-width: 170px;
    font-size: 3em;
    float: left;
    margin-right: 25px; }
  .main .b-animate-2 {
    width: 100%;
    max-width: 90px;
    font-size: 3em;
    float: left;
    margin-right: 25px; }
  .main .b-animate-3 {
    font-size: 3em;
    width: 100%;
    max-width: 325px;
    float: left; }
  .main .main-content {
    width: 100%;
    position: relative;
    overflow: hidden; }
  .main .about {
    background-color: #f2f2f2; }
  .main .about .about-head {
    font-size: 2.7em;
    width: 100%;
    max-width: 750px;
    text-align: center;
    text-shadow: 0px 1px 3px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
    line-height: 1.2em; }
  .main .about-content {
    text-align: center;
    overflow: hidden;
    max-width: 750px;
    width: 100%;
    font-size: 1.5em;
    line-height: 40px;
    padding-bottom: 100px;
    margin: 0 auto; }
    .main .about-content img {
      max-width: 60px;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      margin: 15px auto; }
    .main .about-content span {
      color: #d8c012;
      font-style: italic; }
  .main .b-include {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    text-align: center; }
    .main .b-include h1 {
      font-size: 2.7em;
      text-shadow: 0px 1px 3px; }
    .main .b-include .include-item {
      width: 100%;
      max-width: 1250px;
      margin: 0 auto;
      overflow: hidden; }
      .main .b-include .include-item p {
        font-size: 1.3em;
        float: left;
        padding-right: 30px; }
        .main .b-include .include-item p span {
          color: red; }
  .main .services {
    width: 100%;
    max-width: 1930px;
    margin-bottom: 130px;
    overflow: hidden;
    position: relative; }
    .main .services .services-head {
      font-size: 2.7em;
      width: 100%;
      max-width: 750px;
      text-align: center;
      text-shadow: 0px 1px 3px;
      margin: 0 auto;
      padding-top: 70px; }
    .main .services .sl {
      width: 100%;
      max-width: 900px;
      margin: 30px auto; }
    .main .services .slide-header {
      width: 100%;
      max-width: 500px;
      margin: 0px auto;
      margin-top: 90px;
      margin-bottom: 40px;
      text-align: center; }
      .main .services .slide-header h1 {
        font-size: 1.7rem;
        color: #9a9a9a;
        font-style: italic;
        text-shadow: 0px 1px 2px; }
  .main .projects {
    background-color: #f2f2f2;
    width: 100%;
    max-width: 1930px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 80px;
    position: relative; }
    .main .projects span {
      color: #db0909; }
    .main .projects .projects-content-one {
      text-align: center;
      width: 100%;
      max-width: 1000px;
      overflow: hidden;
      margin: 0 auto;
      padding: 50px 0; }
      .main .projects .projects-content-one .projects-in-content-one {
        float: left;
        width: 100%;
        max-width: 33.333%;
        padding: 0px 10px 40px 10px; }
        .main .projects .projects-content-one .projects-in-content-one h1 {
          font-size: 1.2em;
          font-weight: bold;
          padding-bottom: 20px; }
        .main .projects .projects-content-one .projects-in-content-one img {
          background-size: 100%;
          max-width: 100%;
          float: left;
          width: 230px;
          height: 230px;
          box-shadow: 3px 3px 10px;
          border-radius: 10px;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease; }
        .main .projects .projects-content-one .projects-in-content-one .projects-item {
          width: 100%;
          max-width: 73.5%;
          margin: 0 auto; }
        .main .projects .projects-content-one .projects-in-content-one .projects-media {
          width: 100%;
          max-width: 73.5%;
          margin: 0 auto; }
      .main .projects .projects-content-one .projects-in-content-one:hover {
        background-size: 120%;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease; }
    .main .projects .projects-content-two {
      text-align: center;
      width: 100%;
      max-width: 790px;
      overflow: hidden;
      margin: 0 auto; }
      .main .projects .projects-content-two .projects-position-text-2 {
        text-align: center;
        width: 100%;
        max-width: 250px;
        position: absolute;
        top: 25%;
        left: 18.4%;
        font-size: 1.39em; }
        .main .projects .projects-content-two .projects-position-text-2 p {
          padding: 0px 5px 15px 5px; }
      .main .projects .projects-content-two .projects-in-content-two {
        float: left;
        width: 100%;
        max-width: 50%;
        padding: 0px 10px 40px 10px;
        position: relative; }
        .main .projects .projects-content-two .projects-in-content-two h1 {
          font-size: 1.2em;
          font-weight: bold;
          padding-bottom: 20px; }
        .main .projects .projects-content-two .projects-in-content-two img {
          max-width: 100%;
          width: 230px;
          height: 230px;
          box-shadow: 3px 3px 10px;
          border-radius: 10px;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease; }
        .main .projects .projects-content-two .projects-in-content-two .projects-item {
          width: 100%;
          max-width: 80%;
          margin: 0 auto; }
        .main .projects .projects-content-two .projects-in-content-two .projects-media {
          width: 100%;
          max-width: 80%;
          margin: 0 auto; }

.bounceInDown {
  animation-delay: 1.1s; }

.bounceInLeft {
  animation-delay: 1.7s; }

.bounceInRight {
  animation-delay: 0.5s; }

.footer {
  width: 100%;
  max-width: 1930px;
  background-color: #2d2d2d;
  margin: 0 auto;
  overflow: hidden; }
  .footer .b-foot {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 60px; }
    .footer .b-foot .b-hold {
      width: 100%;
      margin: 0 auto;
      overflow: hidden; }
      .footer .b-foot .b-hold .b-hold_1 {
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
        padding-top: 60px;
        float: left; }
        .footer .b-foot .b-hold .b-hold_1 .b-city {
          margin-bottom: 20px;
          overflow: hidden; }
          .footer .b-foot .b-hold .b-hold_1 .b-city img {
            height: 21px;
            float: left; }
          .footer .b-foot .b-hold .b-hold_1 .b-city h1 {
            color: white;
            width: 100%;
            font-size: 20px;
            margin-left: 20px; }
      .footer .b-foot .b-hold .b-hold_2 {
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
        float: right; }
      .footer .b-foot .b-hold p {
        color: #696969;
        line-height: 12px;
        font-size: 18px; }
  .footer .s-foot {
    width: 100%;
    max-width: 1930px;
    background-color: #242424;
    color: #696969;
    margin: 0 auto; }
    .footer .s-foot .b-holdsmallfoot {
      width: 100%;
      max-width: 1800px;
      margin: 0 auto;
      overflow: hidden; }
      .footer .s-foot .b-holdsmallfoot .b-copy {
        width: 100%;
        max-width: 450px;
        float: left;
        margin: 18px 0px 10px 20px; }
      .footer .s-foot .b-holdsmallfoot .b-awesome {
        width: 100%;
        max-width: 230px;
        float: right; }
        .footer .s-foot .b-holdsmallfoot .b-awesome p {
          color: #696969;
          margin-top: 17px;
          float: right; }
        .footer .s-foot .b-holdsmallfoot .b-awesome i {
          color: #696969;
          margin: 10px 15px;
          font-size: 25px; }
